:root {
    --greenscreen-player-1-4-top: 161px;
    --greenscreen-height: 360px;
    --greenscreen-one-player-width: 480px;
    --middle-now-playing-section-height: 153px;
    --middle-now-playing-top-section-height: 34px;
    --middle-now-playing-top-section-padding-left: 30px;
    --score-colour-left: rgb(212 20 94);
    --score-colour-right: rgb(112 205 233);
    --score-horizontal-alignment: 480px;
    --score-bar-horizontal-alignment: 50%;
    --sidebar-background-colour: rgb(38 39 43);
}

/* ===========================
   Main
=========================== */
.main { background-image: url("static/background.png") }

/* ===========================
   Middle Section 
=========================== */
.middle-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.round-name-container {
    top: 269px;
    font-family: ProtoMono, sans-serif;
    color: white;
    font-size: 33px;
    letter-spacing: 2px;
}

/* ===========================
   Greenscreens
=========================== */
.greenscreen {
    position: absolute;
    height: var(--greenscreen-height);
    background-color: rgb(0 255 0);
    z-index: 1;
}

.greenscreen-player-1, .greenscreen-player-4 {
    top: var(--greenscreen-player-1-4-top);
    width: var(--greenscreen-one-player-width);
}

.greenscreen-player-4 { right: 0; }

.greenscreen-bottom-row {
    top: calc(var(--greenscreen-player-1-4-top) + var(--greenscreen-height));
    width: calc(var(--greenscreen-one-player-width) * 4);
}

/* ===========================
   Scores Container
=========================== */
.scores-container {
    position: absolute;
    top: 881px;
    width: 1920px;
    transition: 500ms ease-in-out;
    opacity: 1;
}

/* ===========================
   Score Bars
=========================== */
.score-bar {
    position: absolute;
    height: 23px;
    transition: 200ms ease-in-out;
}

.score-bar-left {
    right: var(--score-bar-horizontal-alignment);
    background-color: var(--score-colour-left);
}

.score-bar-right {
    left: var(--score-bar-horizontal-alignment);
    background-color: var(--score-colour-right);
}

/* ===========================
   Scores
=========================== */
.score {
    position: absolute;
    top: 28px;
    font-family: ProtoMono, sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
}

.score-left {
    left: var(--score-horizontal-alignment);
    transform: translateX(-50%);
    color: var(--score-colour-left);
}

.score-right {
    right: var(--score-horizontal-alignment);
    transform: translateX(50%);
    color: var(--score-colour-right);
}

/* ===========================
   Score Difference
=========================== */
.score-difference {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.75em;
    display: flex;
    align-items: flex-end;
}

/* ===========================
   Score Dial
=========================== */
.score-dial {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transition: 500ms ease-in-out;
}