@font-face {
    font-family: "ProtoMono";
    font-weight: 400;
    src: url("../fonts/ProtoMono-Regular.woff2")
}
@font-face {
    font-family: "SnowyDays";
    src: url("../fonts/Snowy\ Days.ttf")
}

:root {
    --team-flag-horizontal-alignment: 37px;
    --team-details-horizontal-alignment: 192px;
    --greenscreen-player-1-4-top: 161px;
    --greenscreen-height: 360px;
    --greenscreen-one-player-width: 480px;
    --middle-now-playing-section-height: 153px;
    --middle-now-playing-top-section-height: 34px;
    --middle-now-playing-top-section-padding-left: 30px;
    --middle-now-playing-bottom-section-height: calc(var(--middle-now-playing-section-height) - var(--middle-now-playing-top-section-height) - 1px);
    --middle-now-playing-bottom-section-details: 17px;
    --middle-now-playing-bottom-section-horizontal-alignment: calc(var(--middle-now-playing-top-section-padding-left) - var(--middle-now-playing-bottom-section-details));
    --score-colour-left: #D4145E;
    --score-colour-right: #70CDE9;
    --score-horizontal-alignment: 480px;
}

/* ===========================
   Main
=========================== */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: center / cover;
    background-image: url("static/background.png")
}

/* ===========================
   Team Flag
=========================== */
.team-flag {
    position: absolute;
    top: 43px;
    height: 82px;
    width: 134px;
    object-fit: cover;
    border-radius: 14px;
}
.left-team-flag { left: var(--team-flag-horizontal-alignment); }
.right-team-flag { right: var(--team-flag-horizontal-alignment); }

/* ===========================
   Team Name
=========================== */
.team-name {
    position: absolute;
    top: 29px;
    font-family: "ProtoMono";
    font-weight: 400;
    color: white;
    font-size: 37px;
}
.left-team-name { left: var(--team-details-horizontal-alignment); }
.right-team-name { right: var(--team-details-horizontal-alignment); }

/* ===========================
   Team Stars Container 
=========================== */
.team-star-container {
    position: absolute;
    top: 89px;
    display: flex;
    height: 37px;
    gap: 18px;
}
.left-team-star-container { left: var(--team-details-horizontal-alignment); }
.right-team-star-container {
    right: var(--team-details-horizontal-alignment);
    flex-direction: row-reverse;
}

/* ===========================
   Team Stars
=========================== */
.team-star {
    display: flex;
    align-items: center;
}
.team-star:nth-child(odd) { align-items: flex-end; }
.team-star:nth-child(even) { align-items: flex-start; }
.team-star-end { align-items: flex-start !important; }

/* ===========================
   Middle Section 
=========================== */
.middle-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.round-name-container {
    top: 269px;
    font-family: "ProtoMono";
    color: white;
    font-size: 33px;
    letter-spacing: 2px;
    /* transition: 500ms ease-in-out; */
}

/* ===========================
   Greenscreens
=========================== */
.greenscreen {
    position: absolute;
    height: var(--greenscreen-height);
    background-color: #0F0;
    z-index: 1;
}
.greenscreen-player-1, .greenscreen-player-4 {
    top: var(--greenscreen-player-1-4-top);
    width: var(--greenscreen-one-player-width);
}
.greenscreen-player-4 { right: 0; }
.greenscreen-bottom-row {
    top: calc(var(--greenscreen-player-1-4-top) + var(--greenscreen-height));
    width: calc(var(--greenscreen-one-player-width) * 4);
}

/* ===========================
   Now Playing Section
=========================== */
.middle-now-playing-section {
    top: calc(var(--greenscreen-player-1-4-top) + var(--greenscreen-height) - var(--middle-now-playing-section-height) - 8px);
    width: 952px;
    height: var(--middle-now-playing-section-height);
    /* transition: 500ms ease-in-out; */
    border: 4px solid #808183;
    background-image: linear-gradient(to right, #A2A5A7, #E4E6E8, #A2A5A7);
}
.middle-now-playing-section > *{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* ===========================
   Now Playing Section Insides
=========================== */
.now-playing-section-details {
    left: 153px;
    width: 781px;
    height: 110px;
    border-radius: 10px;
    background: center / cover;
    background-image: url("https://assets.ppy.sh/beatmaps/39804/covers/cover.jpg");
    color: #6C6D70;
}
.now-playing-section-details-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: rgba(0,0,0,0.8);
}
.now-playing-metadata {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 370px;
    height: 70px;
    font-family: "ProtoMono";
    font-size: 1.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.now-playing-metadata-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.now-playing-metadata-title { color: white; }
.now-playing-stats {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 350px;
    height: 70px;
    font-family: "ProtoMono";
    font-size: 17px;
    align-items: center;
}
.now-playing-stats-sr {
    grid-column: 1 / 4;
}
.now-playing-stats > :nth-child(3),
.now-playing-stats > :nth-child(4),
.now-playing-stats > :nth-child(6),
.now-playing-stats > :nth-child(7) {
    text-align: right;
}
.now-playing-stats-item { font-variant-numeric: tabular-nums; }
.now-playing-section-dial { left: 22px; }

/* ===========================
   Now Playing Top Section
=========================== */
.now-playing-top-section {
    height: var(--middle-now-playing-top-section-height);
    background-color: #53555B;
    color: white;
    font-family: "Dogica";
    font-size: 1.25em;
    line-height: var(--middle-now-playing-top-section-height);
    padding-left: var(--middle-now-playing-top-section-padding-left);
    width: calc(100% - var(--middle-now-playing-top-section-padding-left));
}
.now-playing-top-section-left { background-color: rgba(204, 78, 78, 0.4)}
.now-playing-top-section-right { background-color: rgba(28, 76, 143, 0.4)}

/* ===========================
   Now Playing Line Break
=========================== */
.now-playing-line-break {
    top: var(--middle-now-playing-top-section-height);
    height: 1px;
    background-color: #3D3F44
}

/* ===========================
   Now Playing Bottom Section
=========================== */
.now-playing-bottom-section {
    top: calc(var(--middle-now-playing-top-section-height) + 1px);
    height: var(--middle-now-playing-bottom-section-height);
    background-color: #27282C;
}

/* ===========================
   Now Playing Details
=========================== */
.now-playing-bottom-section-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: calc(100% - var(--middle-now-playing-bottom-section-details) * 2);
    height: calc(100% - 24px);
    background-image: url("https://assets.ppy.sh/beatmaps/2251201/covers/cover.jpg");
    background-size: cover;
    background-position: center;
}
.now-playing-bottom-section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #27282CD0;
}
/* ===========================
   Now Playing Left
=========================== */
.now-playing-bottom-section-left {
    position: absolute;
    left: var(--middle-now-playing-bottom-section-horizontal-alignment);
    font-family: "Dogica";
    font-size: 1.1em;
    white-space: nowrap;
    width: 405px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.now-playing-bottom-section-song-title {
    top: 45%;
    transform: translateY(-100%);
    color: white;
}
.now-playing-bottom-section-song-artist {
    bottom: 45%;
    transform: translateY(100%);
    color: #868789;
}
/* ===========================
   Now Playing Stats
=========================== */
.now-playing-bottom-section-stats {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--middle-now-playing-bottom-section-horizontal-alignment);
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    width: 485px;
    font-family: "Dogica";
}
.stats-item {
    height: 22px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #868789;
    font-size: 14px;
}
.stats-number {
    margin-left: 5px;
}
.wide { grid-column: span 3; }

/* ===========================
   Scores Container
=========================== */
.scores-container {
    position: absolute;
    top: 881px;
    width: 1920px;
    transition: 500ms ease-in-out;
}
/* ===========================
   Score Bars
=========================== */
.score-bar {
    position: absolute;
    height: 23px;
    width: 100px;
}
.score-bar-left {
    right: 50%;
    background-color: var(--score-colour-left);
}
.score-bar-right {
    left: 50%;
    background-color: var(--score-colour-right);
}

/* ===========================
   Scores
=========================== */
.score {
    position: absolute;
    top: 28px;
    font-family: "ProtoMono";
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
}
.score-left {
    left: var(--score-horizontal-alignment);
    transform: translateX(-50%);
    color: var(--score-colour-left);
}
.score-right {
    right: var(--score-horizontal-alignment);
    transform: translateX(50%);
    color: var(--score-colour-right);
}
/* ===========================
   Score Difference
=========================== */
.score-difference {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.75em;
    display: flex;
    align-items: flex-end;
}

/* ===========================
   Score Dial
=========================== */
.score-dial {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

/* ===========================
    Sidebar
=========================== */
.sidebar {
    position: absolute;
    top: 0;
    left: 1920px;
    width: 250px;
    height: 1080px;
    background-color: #26272B;
    font-family: "Dogica";
    font-weight: 400;
}
/* ===========================
    Sidebar Section
=========================== */
.sidebar-section {
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}
/* ===========================
    Texts
=========================== */
.sidebar-section h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
    line-height: 30px;
}
/* ===========================
    Button Container
=========================== */
.sidebar-button-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
/* ===========================
    Button
=========================== */
button {
    width: 105px;
    height: 30px;
    font-family: "Dogica";
    font-weight: 400;
    font-size: 0.6em;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
.sidebar-button-container button:active {
    background-color: white;
    color: #26272B;
}
.full-width-button { width: 220px; }