:root {
    --greenscreen-player-1-4-top: 161px;
    --greenscreen-height: 360px;
    --greenscreen-one-player-width: 480px;
    --middle-now-playing-section-height: 153px;
    --middle-now-playing-top-section-height: 34px;
    --middle-now-playing-top-section-padding-left: 30px;
    --score-horizontal-alignment: 480px;
    --score-bar-horizontal-alignment: 50%;
    --sidebar-background-colour: rgb(38 39 43);
    --ban-container-colour-left: #D91B5D;
    --ban-container-colour-right: #6BCDEA;
}

/* ===========================
   Logo
=========================== */
.logo { 
    position: absolute;
    top: -15px;
    left: 758px;
}

/* ===========================
   Middle Section 
=========================== */
.middle-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.round-name-container {
    top: 269px;
    font-family: ProtoMono, sans-serif;
    color: white;
    font-size: 33px;
    letter-spacing: 2px;
}

/* ===========================
   Scores Container
=========================== */
.scores-container {
    position: absolute;
    top: 881px;
    width: 1920px;
    transition: 500ms ease-in-out;
    opacity: 1;
}

/* ===========================
   Score Bars
=========================== */
.score-bar {
    position: absolute;
    height: 23px;
    transition: 200ms ease-in-out;
}

.score-bar-left {
    right: var(--score-bar-horizontal-alignment);
    background-color: var(--score-colour-left);
}

.score-bar-right {
    left: var(--score-bar-horizontal-alignment);
    background-color: var(--score-colour-right);
}

/* ===========================
   Scores
=========================== */
.score {
    position: absolute;
    top: 28px;
    font-family: ProtoMono, sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
}

.score-left {
    left: var(--score-horizontal-alignment);
    transform: translateX(-50%);
    color: var(--score-colour-left);
}

.score-right {
    right: var(--score-horizontal-alignment);
    transform: translateX(50%);
    color: var(--score-colour-right);
}

/* ===========================
   Score Difference
=========================== */
.score-difference {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.75em;
    display: flex;
    align-items: flex-end;
}

/* ===========================
   Score Dial
=========================== */
.score-dial {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    transition: 500ms ease-in-out;
}

.chat-display-container {
    position: absolute;
    top: var(--margin);
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - var(--margin) * 2);
}