@font-face {
    font-family: ProtoMono;
    font-weight: 400;
    src: url("../fonts/ProtoMono-Regular.woff2")
}

@font-face {
    font-family: SnowyDays;
    src: url("../fonts/Snowy\ Days.ttf")
}

/* ===========================
   Main
=========================== */
.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background: center / cover;
    background-image: url("static/background.png");
    font-family: "ProtoMono";
}

/* ===========================
   Round Text
=========================== */
.round-text {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    right: 147px;
    transform: translateX(50%);
}
.round-name { top: 177px; }
.mappool-text { top: 199px; }

/* ===========================
   Live Chat
=========================== */
.live-chat-box {
    position: absolute;
    right: 30px;
    top: 597px;
}

.chat-display {
    position: absolute;
    right: 34px;
    bottom: 188px;
    width: 235px;
    height: 272px;
}

.chat-display-container {
    --margin: 7px;

    position: absolute;
    left: var(--margin);
    top: var(--margin);
    width: calc(100% - var(--margin) * 2);
    height: calc(100% - var(--margin) * 2);
    /* background-color: rgba(255 255 0 / 50%); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.message-container {
    color: white;
}

.message-name {
    color: yellow;
    width: 100%;
}